<div class="lol__title">
  <h1>Our LOLs</h1>
</div>

<div class="lol__container">
  <div class="lol-image__container">
    <h3>Happiness... is no Mailboxer</h3>
    <%= image_tag 'lol-mailboxer-1.jpg', :class => 'lol-image' %>
  </div>
  <div class="lol-image__container">
    <h3>We all agree.</h3>
    <%= image_tag 'lol-mailboxer-2.jpg', :class => 'lol-image' %>
  </div>
  <div class="lol-image__container">
    <h3>Learning to use Lolcommits</h3>
    <%= image_tag 'lol-dark.jpg', :class => 'lol-image' %>
  </div>
  <div class="lol-image__container">
    <h3>It's still possible to be happy.</h3>
    <%= image_tag 'lol-elated.jpg', :class => 'lol-image' %>
  </div>
  <div class="lol-image__container">
    <h3>But bigger props for being grumpy.</h3>
    <%= image_tag 'lol-grumpy.jpg', :class => 'lol-image' %>
  </div>
  <div class="lol-image__container">
    <h3>Thining is important.</h3>
    <%= image_tag 'lol-think.jpg', :class => 'lol-image' %>
  </div>



</div>
