<%= form_for @goal do |f| %>

<div class="modal__container">
  <div class="modal">
    <h2 class="modal__title">Oh no!</h2>
    <div class="modal__text">
      <p>Please be sure to pledge a minimum of $50</p>
    </div>
    <div class="modal__buttons">
      <%= link_to "Try Again", new_goal_path, :class => 'btn btn__buddy-up--cancel' %>
    </div>
  </div>
</div>


  <fieldset>
    <%= f.label :title, :class => 'label' %>
    <%= f.text_field :title, :class => 'input' %>
  </fieldset>

  <fieldset>
    <%= f.label :description, :class => 'label' %>
    <%= f.text_field :description, :class => 'input' %>
  </fieldset>

  <fieldset>
    <%= f.label :category_id, :class => 'label' %>
    <%= f.collection_check_boxes :category_ids, @categories, :id, :title do |c| %>
      <%= c.check_box( :class => 'checkbox' ) %>
      <%= c.label %>
    <% end %>

  </fieldset>

  <fieldset>
    <%= f.label :amount, :class => 'label' %>
    <%= f.number_field :amount, :class => 'input', :placeholder => 'Please pledge a minimum of $50' %>
  </fieldset>

  <div class="btn-container">
    <%= f.submit :class => 'btn', :id => "amount" %>
  </div>

<% end %>
