<h1 class="main__title">All Goals</h1>

<div class="modal__container">
  <div class="modal">
    <h2 class="modal__title">Confirm</h2>
    <div class="modal__text">
      <p>Are you sure you want to <i class="modal-goal"></i> with <i class="modal-initiator"></i>?</p>
    </div>
    <div class="modal__buttons">
      <%= link_to "BuddyUP", "", {:class => 'btn btn__buddy-up--confirm', :method => 'POST' } %>
      <%= link_to "Cancel", goals_path, :class => 'btn btn__buddy-up--cancel' %>
    </div>
  </div>

</div>

<div class="btn-container">
  <%= link_to 'Create goal', new_goal_path, :class => 'btn' %>
</div>

<% @goals.each do |goal| %>
  <div class="goal-each__container">
    <div class="goal-each__title">
      <p><%= link_to goal.title.titleize, goal_path(goal) %></p>
    </div>
    <div class="goal-each__initiator-name">
      Created by: <%= goal.initiator.name if goal.initiator.present? %>
      <a href="" class="goal-each__more-info">more info <i class="fa fa-caret-down"></i></a>
    </div>
    <div class="goal-each__initiator-country">
      Country: <%= goal.initiator.country.upcase if goal.initiator.country.present? %>
    </div>
    <div class="goal-each__goal-description">
      <%= goal.description if goal.description.present? %>
    </div>
    <div class="goal-each__created-date">
      <% x = distance_of_time_in_words_to_now(goal.created_at) %>
      <% y = time_tag(goal.created_at) %>
      <p class="goal-each__timestamp">
        Created on: <%= y %> (<%= x %> ago)
      </p>
    </div>

    <div class="goal-buddy-up__container">
      <%= link_to "BuddyUP", "/", {:goal_id => goal.id, :initiator => goal.initiator.name, :goal => goal.title.titleize, :class => 'btn btn__buddy-up--before' } %>
    </div>
  </div>

<% end %>
