<h1 class="main__title">All Goals</h1>

<div class="btn-container">
  <%= link_to 'Create goal', new_goal_path, :class => 'btn' %>
</div>

<% @goals.each do |goal| %>
  <div class="goal-each__container">
    <div class="goal-each__title">
      <p><%= link_to goal.title.titleize, goal_path(goal) %></p>
    </div>
    <div class="goal-each__initiator-name">
      Created by: <%= goal.initiator.name %>
    </div>
    <div class="goal-each__created-date">
      <% x = distance_of_time_in_words_to_now(goal.created_at) %>
      <% y = time_tag(goal.created_at) %>
      <p class="goal-each__timestamp">
        Created on: <%= y %> (<%= x %> ago)
      </p>
    </div>
  </div>
<% end %>
