<h1 class="main__title">
  <%= @goal.title.titleize %>
</h1>

<% if @goal.acceptor.nil? %>
  <div class="goal-edit__container">
    <%= link_to "Edit", edit_goal_path , :class => 'goal-edit' %>
    <% if @goal.acceptor_id == nil %>
      <%= link_to 'Delete', goal_path(@goal), :method => :delete , :class => 'goal-delete' %>
    <% end %>
  </div>
<% end %>

<div class="goal-each__container">
  <div class="goal-each__initiator-name">
    Created by:
    <%= @goal.initiator.name if @goal.initiator.present? %>
  </div>
  <div class="goal-each__acceptor-name">
    Buddy:
    <%= @goal.acceptor.name if @goal.acceptor.present? %>
  </div>

  <div class="goal-show__goal-description">
    Description:
    <%= @goal.description %>
  </div>

  <div class="goal-show__goal-pledge">
    Pledged: <%= number_to_currency(@goal.amount) %>
  </div>

  <div class="goal-show__goal-status">
    Status: <%= goal_status(@goal) %>
    <% if !@goal.achieved %>
      <button class="goal-achieved__btn">Goal Achieved</button>
    <% end %>
  </div>

  <div class="goal-each__created-date">
    <% x = distance_of_time_in_words_to_now(@goal.created_at) %>
    <% y = time_tag(@goal.created_at) %>
    <p class="goal-each__timestamp">
      Created on:
      <%= y %>
      (<%= x %>
      ago)
    </p>
  </div>

</div>

<div id="subgoals__tutorial">
  <h2>Subgoals</h2>


  <div id="subgoal-form">
    <!--  { Setting remote: true } tells Rails to submit this form as AJAX, looking for JS -->
    <%= form_for ([@goal, @subgoal]), { remote: true } do |f| %>

      <fieldset>
        <%= f.label :title, :class => 'label' %>
        <%= f.text_field :title, :class => 'input' %>
      </fieldset>
      <!-- <fieldset>
        <%= f.label :description, :class => 'label' %>
        <%= f.text_field :description, :class => 'input' %>
      </fieldset> -->
      <!-- <fieldset>
        <%= f.label :completed, "Completed?", :class => 'label' %>
        <%= f.check_box :completed, :class => 'input', :id => 'done' %>
      </fieldset> -->
      <div class="btn-container">
        <%= f.submit "Create Subgoal", :class => 'btn' %>
      </div>
    <% end %>

  </div>

  <div id="subgoals-list">
    <%= render partial: 'subgoals_list', locals: { subgoals: @subgoals, goal: @goal } %>
  </div>

</div>

<div class="subgoals__container">
  <div class="goal-each__subgoals-title">
    <h2>Subgoals</h2>

    <h3>To do:</h3>
    <% @goal.subgoals.where(:completed => false).each do |s| %>
    <div class="subgoal-each__container">
      <%= s.title.titleize %>
    </div>
    <% end %>

    <h3>Completed:</h3>
    <% @goal.subgoals.where(:completed => true).each do |s| %>
    <div class="subgoal-each__container">
      <%= s.title.titleize %>
    </div>
    <% end %>
  </div>

  <div class="btn-container">
    <%= link_to 'Create subgoal', new_goal_subgoal_path(@goal), :class => 'btn' %>
  </div>
</div>

<div class="messages__container">
  <div class="goal-each__messages-title">
    <h2>Messages</h2>
  </div>

  <% @messages.reverse.each do |m| %>
  <div class="message-each__container <%= m.goal.initiator.id == @current_user.id ? " initiator" : " acceptor" %>">
    <p class="message-each__subject">Subject:
      <%= m.subject %></p>
    <p class="message-each__content">Content:
      <%= m.content %></p>
    <% x = distance_of_time_in_words_to_now(m.created_at) %>
    <% y = time_tag(m.created_at) %>
    <p class="message-each__timestamp">Sent:
      <%= y %>
      (<%= x %>
      ago)
    </p>
  </div>
  <% end %>

  <div class="btn-container">
    <%= link_to 'Create message', new_goal_message_path(@goal), :class => 'btn' %>
  </div>
</div>
