<!DOCTYPE html>
<html>

  <head>
    <title>Buddyup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>

    <header class="header">
      <div class="header-logo__container">
        <a href="<%= root_path %>">
          <img class="header-logo__image" src="/assets/logo-orange-1.png" alt="BuddyUP">
        </a>
      </div>
    </header>
    <div class="menu-toggle__container">
      <i class="fa fa-caret-down"></i>
    </div>
      <nav class="nav__container">
        <ul class="nav-list">
          <li class="nav-list__item"><%= link_to 'GOALS', goals_path %></li>

          <!--  Conditional links -->
          <!--  User is logged in-->
          <% if @current_user.present? %>

          <!--  User is admin -->
          <% if @current_user.admin? %>
          <li class="nav-list__item"><%= link_to 'All Users', users_path %></li>
          <li class="nav-list__item"><%= link_to 'Categories', categories_path %></li>
          <% end %>

          <!--  For non-admin users -->
          <li class="nav-list__item"><%= link_to "VIEW PROFILE", user_path(@current_user) %></li>

          <li class="nav-list__item">
            <%= link_to "EDIT PROFILE", users_edit_path %></li>

          <li class="nav-list__item"><%= link_to "LOGOUT #{@current_user.email}", login_path, :method => :delete %></li>

          <!--  User is not logged in -->
        <% else %>
          <li class="nav-list__item"><%= link_to "SIGN UP", signup_path %></li>
          <li class="nav-list__item"><%= link_to "LOGIN", login_path %></li>
          <% end %>
          <!--  End conditional links -->

        </ul>
      </nav>

    <% if flash[:error].present? %>
    <h2 class="error">
      <%= flash[:error] %>
    </h2>
    <% end %>

    <div class="main container">
      <%= yield %>
    </div>

    <footer class="footer">
      &copy; 2016 BuddyUP
    </footer>

  </body>

</html>
